*{
    margin: 0px;
    font-family: serif;
    padding: 0px;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    display: -webkit-box;
    margin-right: auto;
    width: 100px;
    height: 80px;
    float: left;
    cursor: pointer;
}
.banner h1{
    font-family: GothamRoundedBold;
    font-size: 65px;
    position: absolute;
    top: 40%;
    line-height: 1.4;
    text-align: center;
    color: #15F8BA;
}
.banner p{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    text-align: center;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border : 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}
::placeholder{
    color: #cac7ff;
}
.search-bar button img{
     width: 25px;
     height: 20px;
     position: relative;
     top: 0%;
     left: 25%;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}
.body{
    background-color: white;
}
.welcome_heading{
    padding: 30px;
    font-size: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.welcome_content{
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.grid1{
    display: flex;
    grid-gap: 30px;
    width: 100%;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.grid2{
    display: flex;
    justify-content: center;
    grid-gap: 150px;
    width: 100%;
    padding-top: 100px;
    padding-left: 170px;
    padding-right: 20px;
}
.grid-item{
    width: 100%;
    background-color: #aaafe1;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    border-width: 5px;
    overflow: hidden;
}
.grid-item:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.grid-item img{
    float:none;
    width: 320px;
    height: 380px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.grid-item img:hover{
    transform: translateY(-0.5%);
}
.card-content p{
   margin-top: 20px;
   width: 75%;
   font-size: 19px;
}
.card-btn{
    margin: 30px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: white;
    color: #050B52;
    border-color: #050B52;
    border-width: 3px;
    border-radius: 15px;
}
.card-btn:hover{
    background-color: #050B52;
    color: white;
}
.card1{
    padding: 70px;
}
.card2{
    padding: 70px;
}
.card3{
    padding: 70px;
}
.card4{
    padding: 70px;
}
.card5{
    padding: 70px;
}
 @media screen and (max-width:700px){
     .banner{
        width: 100%;
        height: 100vh;
     }
     .banner h1{
        font-size: 30px;
     }
     .search-bar{
        position: relative;
     }
     .grid-item img{
        width: 200px;
        height: 220px;
     }
     .grid1,.grid2{
        grid-gap:0px;
        padding-right: 0px;
    }
     .card1{
        width: 100%;
        padding: 0px;
    }
    .card2{
        padding: 5px;
    }
    .card3{
        padding: 5px;
    }
    .card4{
        padding: 5px;
    }
    .card5{
        padding: 5px;
    }
    .grid1{
        padding:10px;
    }
    .grid2{
        padding-left: 100px;
    }
}
@media screen and (max-width:920px){
    .banner{
        width: 100%;
        height: 100vh;
     }
     .search-bar{
        width: 100px;
        height: 40px;
     }
     .search-bar button img{
        width: 5px;
        height: 5px;
        position:absolute;
        top: 30px;
        left: 120px;
     }
     .menu_bar ul i{
        justify-content: end;
        display: block;
        padding-right: 30px;
     }
     .menu_bar ul li{
        display: none;
     }
     .grid1{
        display: block;
        width: 75%;
        padding-bottom: 30px;
        padding-top: 100px;
        padding-left: 10%;
        padding-right: 10%;
        justify-content: center;
     }
     .grid2{
        display: block;
        width: 75%;
        padding-top: 100px;
        padding-left: 10%;
        padding-right: 10%;
     }
     .grid-item img{
        padding: 40px;
     }
     .footer{
        font-size: 7px;
        display: block;
     }
     .help{
        margin: 10px;
        padding-left: 10px;
    }
    .service{
        margin: 10px;
        padding-left: 10px;
    }
    .contact{
        margin: 10px;
        padding-left: 10px;
    }
    .footer img{
        margin: 5px;
        width: 40px;
        height: 30px;
    }
}

